.date-selector {
    background-color: steelblue;
}

@media print { 
    
    html {
        transform: scale(0.55);
        transform-origin: 0 0;
       /* max-width: 260mm;*/
        /*max-height: 200mm;*/
        width: 210mm;
        height: 120%;
    }

    body {
        width: 165%;
        height: 120%;
    }
    
    .reports-container {
        margin-top: 0mm;
        margin-bottom: 0;
    }

}